.header{
    grid-area: h;
    background-color: #555580;
}
.header img{
    padding: 10px;
    width: 50px;
}
.loginBlock{

    float: right;
}
.loginBlock a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.authInfo{
    color: white;
    padding: 10px;
}